@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-500 dark:text-gray-400 border-gray-200 dark:border-gray-800;
  }

  button {
    @apply focus:ring;
  }

  #__next {
    @apply antialiased text-gray-600 dark:text-gray-400 bg-white dark:bg-gray-900 transition-colors duration-500;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  

  h2, h3, h4 {
    @apply text-gray-800 dark:text-gray-200;
  }
  
  h5 {
    @apply text-gray-700 dark:text-gray-200;
  }

  h2, h3, h4, h5 {
    @apply font-semibold;
  }

  /* .prose > h1 {
    @apply underline;
  } */
  
  .prose li::marker {
    @apply text-cyan-500 dark:text-cyan-400;
    content: '—';
  }

  .prose code {
    @apply text-cyan-600 dark:text-cyan-400;
  }
}

@layer components {
  .button {
    @apply bg-gray-500/20 dark:bg-gray-400/10 hover:bg-gray-500/30 hover:dark:bg-gray-400/20 dark:highlight-white/10;
    font-weight: 600;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@layer utilities {

}
